img {
    width: 100%;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    font: 1vw helvetica, Arial, Tahoma, Sans-serif;
    overflow: hidden;
    padding: 0.1vw;
}
h2 {
    font-size: 2vw;
    color: darkblue;
}
h3 {
    font-size: 1vw;
    color: darkblue;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul {
    padding: 0;
}
ul>li {
    list-style: none;
}
.menuGameArea {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vw;
    height: 100%;
    width: 40%;
    border-radius: 2vh;
    border: 0.1vw solid black;
}
#downButton {
    float: left;
    position: absolute;
    margin-top: 32vw;
    margin-left: 62vw;
    background-color: black;
    color: white;
}
#gameArea {
    /* background-color: darkblue; */
    background-image: url("./img/webImg/bgOut.jpg");
    background-color: #cccccc;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    border: 0.4vw solid black;
    border-radius: 2vw;
    margin: 2vw;
}

.imgLogo {
    width: 50px;
}
.keyboardImg {
    height: 20vh;
    width: 20vw;
}


#christmasGame {
    width: 55%;
    height: 100%;
    background-color: blue;
    border: 0.1vw solid black;
    border-radius: 1vw;
}