img {
    width: 100%;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    font: 1vw helvetica, Arial, Tahoma, Sans-serif;
    overflow: hidden;
    padding: 0.1vw;
}
h2 {
    font-size: 2vw;
    color: darkblue;
}
h3 {
    font-size: 1vw;
    color: darkblue;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-brand{
    font: Castellar, helvetica, Arial, Tahoma, Sans-serif;
    color: black;
    text-transform: uppercase;
}
ul {
    padding: 0;
}
ul>li {
    list-style: none;
}
button{
    display: flex;
    font-size: 1vw;
    padding: 0;
    margin: 0;
    width: 23vw;
}
.menuGameArea {
    background-color: #222D6A;
    background-image: url("../img/webImg/bgOutBlue.jpg");
    background-size: 250%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vw;
    /* height: 50vw; */
    width: 30vw;
    border-radius: 2vh;
    border: 0.1vw solid black;
}
#downButton {
    float: left;
    position: absolute;
    margin-top: 32vw;
    margin-left: 62vw;
    background-color: black;
    color: white;
}
#gameArea {
    background-color: #3E6F0B;
    background-image: url("../img/webImg/bgOut.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 46vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    border: 0.4vw solid black;
    border-radius: 2vw;
    margin: 0.7vw;
}

.imgLogo {
    width: 50px;
}
.keyboardImg {
    height: 20vh;
    width: 20vw;
}


#christmasGame {
    width: 70%;
    height: 100%;
    background-color: #FFF;
    background-image: url("../img/webImg/howToPlay.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0.1vw solid black;
    border-radius: 1vw;
}
#buttonMoveUp{
    float: left;
    position: absolute;
    justify-content: center;
    width: 5vw;
    margin-top: 15vw;
    margin-left: 83vw;
    background-color: black;
    color: white;
}
#buttonMoveDown{
    float: left;
    position: absolute;
    justify-content: center;
    width: 5vw;
    margin-top: 18vw;
    margin-left: 83vw;
    background-color: black;
    color: white;
}
#buttonMoveRight{
    float: left;
    position: absolute;
    justify-content: center;
    width: 5vw;
    margin-top: 16.5vw;
    margin-left: 88vw;
    background-color: black;
    color: white;
}
#buttonMoveLeft{
    float: left;
    position: absolute;
    justify-content: center;
    width: 5vw;
    margin-top: 16.5vw;
    margin-left: 77.5vw;
    background-color: black;
    color: white;
}
#buttonDrop{
    float: left;
    position: absolute;
    justify-content: center;
    width: 10vw;
    margin-top: 16.5vw;
    margin-left: 30vw;
    background-color: black;
    color: white;
}